*{
	margin:0;
	padding:0;
}
	
	
	body{
	
		background-image: url("../img/fondo.png")
}
.menu {
	position: absolute;
    top: 8px;
    right: 16px;
	z-index: 1;

}
.info{
	position: absolute;
    top: 16px;
    left: 16px;
}
#divnave{
	position:fixed;
	text-align:center;
	top:10%;
	width:100%;
	height:20%;
	z-index:2;
}
.nave{
    height: 100%;
    margin: auto;
}
.suelo{
	height:10%;
	width:100%;
	position:fixed;
	bottom:0px;
	left:0px;
}
.astronauta{
	display:none;
	position:absolute;
	left: 5%;
	bottom: 15%;
	width: 50px;
	height: 50px;
}	
#cpanel{
	border-style:solid;
	border-color:#F0FFFF;
	position:absolute;
	background:rgba(41,37,37,0.85);
	left:4%;
	top: 8px;
	width:35%;
	height:20%;

}
.velocidad{
	position:relative;
	width:100%;
	height:33%;
	border-bottom: 4px solid #F0FFFF;
}
.velocidad1{
	position:absolute;
	margin:0%;
	padding:0%;
	color: #F0FFFF;
	font-size:5vw;
	width: 50%;
	left:15%;
	top:10%;
}
.velocidad2{
	position:absolute;
	margin:0%;
	padding:0%;
	color: #F0FFFF;
	font-size:5vw;
	width: 50%;
	right: 0%;
	top:10%;
}
.fuel{
	position:relative;
	width:100%;
	height:33%;
	border-bottom: 4px solid #F0FFFF;
}
.fuel1{
	position:absolute;
	margin:0%;
	padding:0%;
	color: #F0FFFF;
	font-size:5vw;
	width: 50%;
	left:15%;
	top:10%;
}
.fuel2{
	position:absolute;
	margin:0%;
	padding:0%;
	color: #F0FFFF;
	font-size:5vw;
	width: 50%;
	right: 0%;
	top:10%;
}.altura{
	position:relative;
	width:100%;
	height:33%;
	border-bottom: 4px ;
}
.altura1{
	position:absolute;
	margin:0%;
	padding:0%;
	color: #F0FFFF;
	font-size:5vw;
	width: 50%;
	left:15%;
	top:10%;
}
.altura2{
	position:absolute;
	margin:0%;
	padding:0%;
	color:#F0FFFF;
	font-size:5vw;
	width: 50%;
	right: 0%;
	top:10%;
}
.menuescape{
	display: none;
	position: absolute;
    left: 0;
    top: 30%;
    width: 100%;
    text-align: center;
	
}
.nav{
	background-color:#424242;
	color:#088A08;
	text-decoration:none;
	padding:10px 15px;
	display:block;
	
}
#barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	width:40%;
	border-style:solid;
	border-color:#F0FFFF;
	z-index: -1;
	display:none;
	position: absolute;
    left: 25%;
	right:25%;
    top: 30%;
	z-index:3;
	
}

li {
    float: left;
}

li a {
    display: block;
    color: #F0FFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
			
#acercade{
	
	display:none;
	border-style:solid;
	border-color:#F0FFFF;
	background:rgba(41,37,37,0.85);
	position: absolute;
    left: 25%;
	right:25%;
    top: 40%;
    font-size: 18px;
	color:#F0FFFF;
	z-index:4;
}
#ocultar{
	color:#F0FFFF;
}
#instruccionestexto{
	
	display:none;
	border-style:solid;
	border-color:#F0FFFF;
	background:rgba(41,37,37,0.85);
	position: absolute;
    left: 25%;
	right:25%;
    top: 30%;
    font-size: 18px;
	color:#F0FFFF;
	z-index:4;
}	
#ocultarinstrucciones{
	color:#F0FFFF;
}		
#felicidades{
	display:none;
	text-align:center;
	border-style:solid;
	border-color:#F0FFFF;
	background:rgba(41,37,37,0.85);
	position: absolute;
    left: 25%;
	right:25%;
    top: 30%;
    font-size: 18px;
	color:#F0FFFF;
}
#perdido{
	display:none;
	text-align:center;
	border-style:solid;
	border-color:#F0FFFF;
	background:rgba(41,37,37,0.85);
	position: absolute;
    left: 25%;
	right:25%;
    top: 30%;
    font-size: 15px;
	color:#F0FFFF;
}
#ocultarvictoria{
	color:#F0FFFF;
}
#ocultarderrota{
	color:#F0FFFF;
}
#aboutvertical{
	display:none;
	border-style:solid;
	border-color:#F0FFFF;
	background:rgba(41,37,37,0.85);
	position: absolute;
    left: 25%;
	right:25%;
    top: 40%;
    font-size: 18px;
}
#pausado{
	display:none;
}